doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:image", content="https://voodex.netlify.app/img/works/clock.png")
    link(rel="shortcut icon", href="https://voodex.netlify.app/villax-logo/favicon.ico", type="image/x-icon")
    link(rel="icon", href="https://voodex.netlify.app/villax-logo/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="static/style.css")
    script(src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.min.js")
    script(src="/static/index.js", type="module", defer)
    title X-Carrier
  body
    div#view.op-0
      div#header.flex-center
        a(href='/')
          h1.m-0 X-Carrier
        div.flex-center(style='font-weight:bold', :class='{hidden:isWaiting}') Please wait...
        div.flex-1
        div#online.flex-center= 'Online: {{online}}'
        button.button(@click='openFileInput') Upload
      input.hidden(ref='fileInput', @change='uploadItem', type="file")
      div#list
        div.item(v-for='item in items')
          a.item-inner.flex-center.flex-1(:href='`/?pin=${pin}&file=${item}`', target='_blank')
            svg(xmlns="http://www.w3.org/2000/svg", height="48", viewBox="0 96 960 960", width="48")
              path(d="M347 814h267q15 0 25-10t10-25q0-15-10-25t-25-10H347q-16 0-25.5 10t-9.5 25q0 15 9.5 25t25.5 10Zm0-175h267q15 0 25-10t10-25q0-15-10-25t-25-10H347q-16 0-25.5 10t-9.5 25q0 15 9.5 25t25.5 10ZM218 992q-28.725 0-50.863-22.138Q145 947.725 145 919V233q0-28.725 22.137-50.862Q189.275 160 218 160h327q14.873 0 28.57 6.087Q587.268 172.174 597 182l196 195q9.826 10.732 15.913 23.93Q815 414.127 815 430v489q0 28.725-22.138 50.862Q770.725 992 742 992H218Zm321-596q0 15.75 10.625 26.375T576 433h166L539 233v163Z")
            span.item-name.flex-1= '{{item}}'
          div.flex-center.delete-btn(@click='deleteItem(item)')
            svg(xmlns="http://www.w3.org/2000/svg", height="48", viewBox="0 96 960 960", width="48")
              path(d="M261 936q-24 0-42-18t-18-42V306h-11q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T190 246h158q0-13 8.625-21.5T378 216h204q12.75 0 21.375 8.625T612 246h158q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T770 306h-11v570q0 24-18 42t-42 18H261Zm0-630v570h438V306H261Zm106 454q0 12.75 8.675 21.375 8.676 8.625 21.5 8.625 12.825 0 21.325-8.625T427 760V421q0-12.75-8.675-21.375-8.676-8.625-21.5-8.625-12.825 0-21.325 8.625T367 421v339Zm166 0q0 12.75 8.675 21.375 8.676 8.625 21.5 8.625 12.825 0 21.325-8.625T593 760V421q0-12.75-8.675-21.375-8.676-8.625-21.5-8.625-12.825 0-21.325 8.625T533 421v339ZM261 306v570-570Z")
        div#no-item(:class='{hidden:isNotEmpty}') Nothing here...
      div
      div
      footer.flex-center
        a(href='/login') Log in
        a(@click='logout') Log out